.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fixed {
  position: fixed;
  width: inherit;
  transition: 0.6s linear;
  top: 0px;
  background:rgba(91, 84, 84, 0.9);
  z-index: 9999;
  margin-top: 40px;
}
.nofixed {
  position: static;
  transition: 0.4s linear;
  top: -50px;
}

.navigation {
  min-width: 320px;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 2.5rem;
}

.navigation ul {
  display: flex;
  min-width: 280px;
}

.navigation ul li {
  position: relative;
  list-style: none;
  min-width: 70px;
  min-height: 70px;
}

.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 2.5em;
  text-align: center;
  transition: 0.5s;
  color: #66fcf1;
}

.navigation ul li.active a .icon {
  transform: translateY(30px);
}

.navigation ul li a .text {
  position: absolute;
  color: #66fcf1;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}

.navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(-20px);
}
