<button class="btn" (click)="clearSeenJokes()" [ngClass]="!condition?'display-none':'display-block'">
    Clear Seen Jokes
</button>
<div class="seen-container">
    <ul class="list">
        <li *ngFor="let seenJokes of seenJokes">
            <app-joke-card [jokeItem]="seenJokes"></app-joke-card>
        </li>
    </ul>
</div>
<div class="no-jokes-msg" [ngClass]="condition?'display-none':'display-block'">
    <h1>Check some jokes for some good laugh :)</h1>
</div>
<div class="toast-container" [ngClass]="toastCondition?'active':''">
    <div class="toast">
        List clear!
    </div>
</div>