body {
  margin: 0;
}

.dad {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  gap: 15px;
  color: #6684fc;
  font-weight: 600;
  padding-top: 8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, fantasy;
}

.dad img {
  width: 60%;
  height: 60%;
}
