:host {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-search {
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
  margin: 1rem;
}

.content-search ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
