* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("../src/assets/tareq-ajalyakin-72aEtYlS5K0-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  overflow: overlay;
}

:root {
  --clr: (#222327);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-bar-container {
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content-container {
  padding: 0;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
  border-radius: 10px;
 
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.5, #a520ca),
    color-stop(1, #2681cc)
  );
  border-radius: 10px;
}